db
app/core/components/*
!app/core/components/custom
app/core/cache
app/core/config
app/core/docs
app/core/error
app/core/export
app/core/import
app/core/lexicon
app/core/model
app/core/packages
app/core/xpdo
app/core/.htaccess
app/assets
app/connectors
app/manager
app/index.php
app/config.core.php
app/.htaccess
app/ht.access
node_modules
mix-manifest.json
package-lock.json
