<!DOCTYPE html>
<html lang="en">
        [[$meta]]
    <body>
        [[$header]]
        <div class="container py-5">
            <h1>[[*pagetitle]]</h1>

            <div class="row">

                <!--Content-->
                <div class="col-md-8">
                    [[*content]]
                </div>
                <!--/Content-->

                <!--Sidebar-->
                <div class="col-md-4">
                    [[$sidebar]]
                </div>
                <!--/Sidebar-->

            </div>
        </div>
        [[$footer]]
        [[$scripts]]
    </body>
</html>
