<!DOCTYPE html>
<html lang="en">
        [[$meta]]
    <body>
        [[$header]]
        <div class="container py-5">
            <h1>[[*pagetitle]]</h1>

            <div class="row">

                <!--Content Col-->
                <div class="col-md-12">

                    <!--Image-->
                    <div class="image-wrapper">
                        [[*image:!empty=`
                                <img src="[[*image]]" class="img-fluid" alt="[[*pagetitle:htmlent]]">
                        `]]
                    </div>
                    <!--/Image-->

                    <!--Content-->
                    <div class="content-wrapper py-1">
                       [[$registerForm]]
                    </div>
                    <!--/Content-->

                </div>
                <!--/Content Col-->
            </div>
        </div>
        [[$footer]]
        [[$scripts]]
    </body>
</html>
